{% load filters %}


{% if user.is_authenticated %}
    {% if not request|is_favorite:recipe %}
        <button class="button button_style_none" name="favorites" data-out>
            <span class="icon-favorite {% if recipe_page %}icon-favorite_big{% endif %}"></span>
        </button>
        {% if recipe_page %}
            <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
        {% endif %}
    {% else %}
        <button class="button button_style_none" name="favorites">
            <span class="icon-favorite icon-favorite_active {% if recipe_page %}icon-favorite_big{% endif %}"></span>
        </button>
        {% if recipe_page %}
            <div class="single-card__favorite-tooltip tooltip">Удалить из избранного</div>
        {% endif %}
    {% endif %}
{% endif %}
