{% load filters %}

{% if user.is_authenticated %}
    {% if not request|is_in_purchases:recipe %}
        <button class="button {% if recipe_page %}button_style_blue{% else %}button_style_light-blue{% endif %}" name="purchases" data-out>
            <span class="icon-plus button-icon"></span>Добавить в покупки
        </button>
    {% else %}
        <button class="button {% if recipe_page %}button_style_light-blue-outline{% else %}button_style_light-blue-outline{% endif %}" name="purchases">
            <span class="icon-check button-icon"></span>Рецепт добавлен
        </button>
    {% endif%}
{% else %}
    <button class="button {% if recipe_page %}button_style_blue{% else %}button_style_light-blue{% endif %}" onclick="location.href= '/auth/login/';">
        <span class="icon-plus button__icon"></span>Добавить в покупки
    </button>
{% endif %}
