<nav class="nav">
    <div class="nav__container container">
        <ul class="nav__items list">
            <li class="nav__item {% if index %} nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
            <li class="nav__item {% if shop_list %} nav__item_active {% endif %}"><a href="{% url 'shop_list' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ shop_list_count }}</span></li>
        </ul>

        <ul class="nav__items list">
            <li class="nav__item {% if login %} nav__item_active {% endif %}"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
            <button type="button" class="button button_style_blue">
            <li class="nav__item"><a href="{% url 'signup' %}" class="nav__link link"><span style="color:rgb(255, 255, 255)">Создать аккаунт</a></span>
                </button>
        </ul>
    </div>
</nav>