{% load thumbnail %}
{% load user_filters %}
{% csrf_token %}
<div class="card" data-id="{{ recipe.id }}"> 
    {% load thumbnail %}
    {% thumbnail recipe.image '500x500' crop="center" upscale=True as im %}
        <a href="{% url 'recipe' recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}"  class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body"> 
        <a class="card__title link" href="{% url 'recipe' recipe.id%}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items"> 
            {% for tag in recipe.tag.all %}
            <li class="single-card__item">
                <span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span>
            </li>             
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name|default:recipe.author.username }}</a>
        </div>
    </div>
    <div class="card__footer"> 
        {% if request.user.is_authenticated %}
 
            
                 <button class="button button_style_light-blue" name="purchases" data-out>
                 <span class="icon-plus button__icon"></span>Добавить в покупки</button>
                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>

        {% endif %}
 </div>     
 </div>