{% extends 'base.html' %}
{% block title %}Создание рецепта{% endblock %}
{% block header %}
{% include "includes/header.html"%}
{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
{% load user_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">
            <p>Сброс пароля выполнен</p>
        </h1>

    </div>
        <div class="custom-info">
            <ul>
                Пароль был успешно сброшен. Теперь вы можете войти под новым паролем.
            </ul>
        </div>
</main>
{% endblock %}