{% extends 'base.html' %}
{% block title %}Мои подписки{% endblock %}
{% block static %}
{% load filters %}
{% load static %}
{% endblock static %}
{% block header %}
{% include 'includes/header.html' with follow=True %}
{% endblock %}
{% block content %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>

    <div class="card-list">
    {% for subscription in page %}
        <div class="card-user" data-author={{ subscription.id }}>
            <div class="card-user__header">
            <h2 class="card-user__title">{{ subscription.first_name }}</h2>
        </div>

        <div class="card-user__body">
            <ul class="card-user__items">
                    {% for recipe in subscription.recipes.all|slice:3 %}
                        <li class="card-user__item">
                            <div class="recipe">
                                {% load thumbnail %}
                                {% thumbnail recipe.image "960x339" as im %}
                                    <img src="{{ im.url }}" class="recipe__image">
                                {% endthumbnail %}
                                <h3 class="recipe__title">{{ recipe.title }}</h3>
                                <p class="recipe__text"><span class="icon-time"></span>&#160;&#160;{{ recipe.cooking_time }}&#160;мин</p>
                            </div>
                        </li>
                    {% endfor%}

                    {% if subscription.recipes.count > 3 %}
                        <li class="card-user__item">
                            <a href="{% url 'profile' subscription %}" class="card-user__link link">Ещё {{subscription.recipes.count|add:-3}} {{ subscription.recipes.count|declination }}...</a>
                        </li>
                    {% endif %}
            </ul>
        </div>

        <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
    {% endfor %}
    {% if page.paginator.count  > 6 %}
        {% include "includes/paginator.html"%}
    {% endif %}
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>
{% endblock content %}