{% extends "base.html" %}
{% block title %}{% if recipe == None %}Создание{% else %}Редактирование{% endif %} рецепта{% endblock %}
{% load filters %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock static %}
{% block header%}
{% include "includes/header.html" with new_recipe=True %}
{% endblock %}
{% block content %}

<div class="main__header">
    <h1 class="main__title">{% if recipe == None %}Создание{% else %}Редактирование{% endif %} рецепта</h1>
</div>
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__group">
            <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
            <div class="form__field-group">
                {{ form.title|add_classes:"form__input" }}
                {% for error in form.title.errors %}
                    <span class="form__error">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            <div class="form__group">
                <p class="form__label">Теги</p>                
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.fields.tag.choices.queryset.all %}
                            <div class="tags__item">
                                <input type="checkbox" name="tag" value="{{ tag.id }}"
                                   {% if tag.id in form.tag.value %} checked {% endif %}
                                   id="id_{{ tag.id }}"  class="tags__checkbox tags__checkbox_style_{{ tag.color }}">
                                <label for="id_{{ tag.id }}" class="tags__label">{{ tag.title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% for error in form.tag.errors %}
                        <span class="form__error">{{ errors }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ингредиенты</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>

                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>
                <div class="form__field-group-ingredientes-container">
                    {% for amount in recipe.recipe_ingredients.all %}
                    <div class="form__field-item-ingredient" id="ing{{ forloop.counter }}">
                        <span> {{ amount.ingredient.title }} - {{ amount.quantity }} {{ amount.ingredient.dimension }}</span>
                        <span class="form__field-item-delete"></span>
                        <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ amount.ingredient.title }}" class="ing_counter">
                        <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ amount.quantity }}">
                        <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ amount.ingredient.dimension }}">
                    </div>
                    {% endfor %}
                </div>
                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                {% for error in form.ingredients.errors %}
                    <span class="form__error">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.cooking_time.id_for_label }}" class="form__label">Время приготовления</label>
            <div class="form__field-group form__field-group_time">
                {{ form.cooking_time|add_classes:"form__input" }}
                <label for="{{ field.cooking_time.id_for_label }}" class="form__label">минут</label>
                {% for error in form.cooking_time.errors %}
                    <span class="form__error">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
            <div class="form__field-group">
                {{ form.description|add_classes:"form__textarea" }}
                {% for error in form.description.errors %}
                    <span class="form__error">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            <span class="form__label">Загрузить фото</span>
            <div class="form__field-group">
                <div class="tags">
                    <label for="{{ form.image.id_for_label }}" class="form__file-button">Выбрать файл</label>

                    <div class="form__fileitem">{{ image_name }}</div>
                    <div class="form__hidden">
                        {{ form.image|add_classes:"form__file" }}
                    </div>
                </div>

                <div class="form__filename"></div>
                {% for error in form.image.errors %}
                    <span class="form__error">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__footer">
            {% if recipe == None %}
                <button class="button button_style_blue">Создать рецепт</button>
            {% else %}
                <button class="button button_style_blue input type="submit" style="margin-left: 25%">Сохранить</button>
                <a class="button button__delete" href="{% url 'recipe_delete' recipe.author.username recipe.id %}" class="form__ingredient-link">Удалить</a>
            {% endif %}
        </div>
    </form>
</div>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock content %}