{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% block static %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock static %}
{% block content %}
    {% include 'includes/header.html' %}
{% load user_filters %}


<main class="main container">

    <div class="main__header">
        <h1 class="main__title">Редактирование профиля</h1>
    </div>

    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                    <div class="form__field-group">
                        {{ field|add_classes:"form__input" }}
                    </div>
                </div>
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue input type="submit" style="margin-left: 25%">Сохранить</button>
            </div>
        </form>
    </div>
</main>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{%static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock %}