{% extends "base.html" %}
{% block title %}Список покупок{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock static %}
{% block header %}
{% include 'includes/header.html' with shop_list=True %}
{% endblock %}
{% block content %}
{% csrf_token %}

<main class="main container">
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in purchases %}
                <li class="shopping-list__item" data-id="{{recipe.id}}">
                    {% include 'includes/recipe_item.html' %}
                        <button class="shopping-list__button link">Удалить</button>
                </li>
            {% endfor %}
        </ul>
        {% if purchases.exists %}
            <a href="{% url 'download_purchases' %}" class="button button_style_blue download">Скачать список</a>
        {% endif %}
    </div>
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/shopList.js' %}"></script>
{% endblock content %}